app_name            = "terraform-aoai-testing"
resource_group_name = "YOUR AZURE RESOURCE GROUP NAME"
location            = "eastus"
subdomain_name      = "terraform-aoai-testing"
subscription_id     = "YOUR AZURE SUBSCRIPTION ID"